.image_slider {
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}
.image_slider:hover {
	cursor: ew-resize;
}
.image_slider .overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: inline;
	width: 100%;
	border-right: 4px solid rgb( 37, 37, 37 );
	transition-duration: 0;
}
.image_slider, .image_slider .overlay {
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	max-height: 100%;
}